<h3>Sign up today</h3>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-8 col-centered">
  <form class="form-signup" method="POST" action="/signup">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Email" name="email">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Username" name="username">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="First Name" name="firstname">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Last Name" name="lastname">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <div class="form-group text-left">
      <label for="birthday">Birthday</label>
      <input class="form-control" type="date" name="birthday">
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
  </form>
</div>

<% if !@errors.nil? %>
  <% if @errors.any? %>
    <div class="error-explanation">
      <ul>
      <% @errors.each do |msg| %>
        <li><span><%= msg %></span></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @errors.clear %>
<% end %>

