<div class="container">
  <div class="row">
    <div class="col-md-4 col-centered">
      <form class="form-signup" method="POST" action="/login">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Username" name="username">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">Log In</button>
      </form>
    </div>
  </div>
</div>