<div class="col-md-4 col-centered" style="padding: 20px">
  <h2>Edit List</h2>
  <form method="POST" action="/wishlists/<%=@wishlist.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="form-group text-left">
      <label for="title">Title</label>
      <input class="form-control" type="text" value="<%=@wishlist.title%>" name="title">
    </div>
    <div class="form-group text-left">
      <label for="description">Description</label>
      <input class="form-control" type="text" value="<%=@wishlist.description%>" name="description"></input>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-sm">Save Changes</button>
  </form>
</div>