<div class="text-left panel panel-default" style="padding: 10px">
  <p><strong>Title:</strong> <%= @wishlist.title %></p>
  <p><strong>Description:</strong> <%= @wishlist.description %></p>
  <a href="#" class="btn btn-primary btn-sm" role="button">Add item</a>
</div>

